{% extends "base.html" %}
{% block content%}   

			<div class="container">
				<!--
				#################################
					- THEMEPUNCH BANNER -
				#################################
				-->
				<div class="tp-banner-container">
					<div class="tp-banner" >
						<ul>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
								<!-- MAIN IMAGE -->
								<img src="static/img/slider/slide1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYERS NR. 1 // -->
								<div class="tp-caption lfl largegreenbg br-red"
									data-x="50"
									data-y="140"
									data-speed="1500"
									data-start="1200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">公益直播
								</div>	
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption skewfromleft medium_text paragraph"
									data-x="50"
									data-y="240"
									data-speed="800"
									data-start="1800"
									data-easing="Power4.easeOut"
									data-endspeed="400"
									data-endeasing="Power4.easeOut"
									data-captionhidden="off">{{ind.liv_remarks|safe}}
								</div>
								<!-- LAYERS NR. 3 // Slide Button -->
								<div class="tp-caption sfb"
									data-x="50"
									data-y="350"
									data-speed="1500"
									data-start="2600"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><a href="/live" class="btn btn-info btn-lg btn-circle">观看直播 <i class="fa fa-angle-right"></i></a>
								</div>
								<!-- LAYERS NR. 1 // Logo Image -->
								<div class="tp-caption skewfromright"
									data-x="600"
									data-y="bottom"
									data-speed="800"
									data-start="3600"
									data-easing="Power4.easeOut"
									data-endspeed="400"
									data-endeasing="Power4.easeOut"
									data-captionhidden="off"><img style="width:300px; height:371px;" src="static/img/slider/s21.jpg" class="img-responsive" alt="" />
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
								<!-- MAIN IMAGE -->
								<img src="static/img/slider/slide2.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS -->
								<!-- LAYERS NR. 1 // Logo Image -->
								<div class="tp-caption lfl"
									data-x="130"
									data-y="center"
									data-speed="1500"
									data-start="1200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img style="width:270px; height:270px;" src="static/img/slider/logo.png" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption lfr thinheadline_dark"
									data-x="500"
									data-y="120"
									data-speed="1500"
									data-start="2000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">Jeapedu
								</div>
								<!-- LAYERS NR. 2.1 -->
								<div class="tp-caption lfr very_large_text"
									data-x="500"
									data-y="150"
									data-speed="1500"
									data-start="2300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">学生作品
								</div>
								<!-- LAYERS NR. 3 -->
								<div class="tp-caption lfr medium_text paragraph"
									data-x="500"
									data-y="220"
									data-speed="1500"
									data-start="3000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">{{ind.str_remarks|safe}}
								</div>
								<!-- LAYERS NR. 4.1 // Slide Button -->
								<div class="tp-caption sfb"
									data-x="500"
									data-y="325"
									data-speed="1500"
									data-start="4200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><a href="/student" class="btn btn-info btn-lg btn-circle">展示 <i class="fa fa-angle-right"></i></a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
								<!-- MAIN IMAGE -->
								<img src="static/img/slider/slide3.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
								<!-- LAYERS NR. 1 -->
								<div class="tp-caption lfl"
									data-x="100"
									data-y="130"
									data-speed="800"
									data-start="1500"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img style="width:500px; height:430px;" src="static/img/slider/s31.png" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 2 -->
								<div class="tp-caption lfl"
									data-x="0"
									data-y="252"
									data-speed="800"
									data-start="2400"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img style="width:270px; height:170px;" src="static/img/slider/s32.png" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 3 -->
								<div class="tp-caption lfl"
									data-x="350"
									data-y="290"
									data-speed="800"
									data-start="2700"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img style="width:192px; height:150px;" src="static/img/slider/s33.png" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 4 -->
								<div class="tp-caption lfl"
									data-x="250"
									data-y="309"
									data-speed="800"
									data-start="3300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><img style="width:110px; height:130px;" src="static/img/slider/s34.png" class="img-responsive" alt="" />
								</div>
								<!-- LAYERS NR. 5 // -->
								<div class="tp-caption lfr largegreenbg br-orange"
									data-x="right"
									data-hoffset="-10"
									data-y="140"
									data-speed="1500"
									data-start="4000"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off" style="font-size:40px; left:500px;">{{ind.placement|safe}}
								</div>	
								<!-- LAYERS NR. 6 // -->
								<div class="tp-caption lfr modern_big_redbg br-green"
									data-x="right"
									data-hoffset="-10"
									data-y="220"
									data-speed="1500"
									data-start="4300"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">2014年9月12日 -> Django五人班
								</div>	
								<!-- LAYERS NR. 7 // -->
								<div class="tp-caption lfr modern_big_redbg br-yellow"
									data-x="right"
									data-hoffset="-10"
									data-y="270"
									data-speed="1500"
									data-start="4600"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">2014年9月6日 -> CSS五人班
								</div>
								<!-- LAYERS NR. 8 // -->
								<div class="tp-caption lfr modern_big_redbg br-blue"
									data-x="right"
									data-hoffset="-10"
									data-y="320"
									data-speed="1500"
									data-start="4900"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">2014年9月4日 -> MySQL五人班
								</div>
								<!-- LAYERS NR. 9 // -->
								<div class="tp-caption lfr modern_big_redbg br-purple"
									data-x="right"
									data-hoffset="-10"
									data-y="370"
									data-speed="1500"
									data-start="5200"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off">2014年9月1日 -> iOS三人班
								</div>
								<div class = "tp-caption lfr modern_big_redbg br-black"
									data-x="right"
									data-hoffset="-10"
									data-y="420"
									data-speed="1500"
									data-start="5500"
									data-easing="Power4.easeOut"
									data-endspeed="300"
									data-endeasing="Linear.easeNone"
									data-captionhidden="off"><a href="/courses"><i class="fa br-red"></i>所有课程</a>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- Slider End -->
			
			<!-- Box Wrapper -->
			<div class="box-wrapper">
				<div class="container">
					<!-- Box First Row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<!-- Box Outer Layer [ Box 1 ] -->
									<div class="box box-md br-green animated">
										<!-- Box Hover Effect -->
										<div class="box-hover box-hover-black">
											<!-- Hover Icon -->
<img style="width:200px; height:200px;" src="static/img/1.png" class="img-responsive box-team-img" alt="" />
											<span class="hover-icon">加入Q群</span>
										</div>
										<!-- Box Link -->
										<a href="/">
											<!-- Box Link Content -->
											<div class="box-content navigation">
												<!-- Box Icon -->
												<i class="fa fa-camera"></i>
												<!-- Box Title -->
												<span class="box-title">Python三人班</span>
											</div>
										</a>
									</div>	
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<!-- Box Outer Layer [ Box 2 ] -->
									<div class="box box-md br-yellow animated">
										<!-- Box Hover Effect -->
										<div class="box-hover box-hover-black">
											<!-- Hover Icon -->
<img style="width:200px; height:200px;" src="static/img/2.png" class="img-responsive box-team-img" alt="" />
											<span class="hover-icon">加入Q群</span>
										</div>
										<!-- Box Link -->
										<a href="/">
											<!-- Box Link Content -->
											<div class="box-content navigation">
												<!-- Box Icon -->
												<i class="fa fa-camera"></i>
												<!-- Box Title -->
												<span class="box-title">Django五人班</span>
											</div>
										</a>
									</div>	
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<!-- Box Outer Layer [ Box 3 ] -->
							<div class="box box-lg br-red animated">
								<div class="box-content box-service box-default">
									<!-- Heading -->
									<h4><i class="fa fa-trophy"></i> 主要课程</h4>
									<!-- Paragraph -->
									<p>{{ind.cou_remarks|safe}}</p>
									<!-- Box Service List -->
									<ul class="list-unstyled">
										<li><i class="fa fa-check-square-o"></i><a style="color:#FFFFFF" href="/courses">{{ind.courses}}</a></li>
										<li><i class="fa fa-check-square-o"></i> <a style="color:#FFFFFF" href="/courses">Django</a></li>
										<li><i class="fa fa-check-square-o"></i> <a style="color:#FFFFFF" href="/courses">CSS</a></li>
										<li><i class="fa fa-check-square-o"></i> <a style="color:#FFFFFF" href="/courses">MySQL</a></li>
										<li><i class="fa fa-check-square-o"></i> <a style="color:#FFFFFF" href="/courses">iOS</a></li>
									</ul>
							
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<!-- Box Outer Layer [ Box 4 ] -->
							<div class="box box-md pull-up-sm animated">
								<div class="box-content box-gallery padd-zero">
									<div class="img-details box-hover-black">
										<!-- Heading -->
										<h3>入学须知</h3>
										<!-- Paragraph -->
										<p>{{ind.scl_notes|safe}}</p>
										<!-- View Next Button -->
										<div class="view-button">
											<a href="/ready" class="btn btn-danger">课前准备 <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<!-- Image -->
									<img src="static/img/nav1.jpg" class="img-responsive box-gallery-img" alt="" />
								</div>
							</div>
						</div>
					</div>
					<!-- Box Second Row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<!-- Box Outer Layer [ Box 5 ] -->
							<div class="box box-md br-black pull-up animated">
								<div class="pics" id="box-slider-one">

									<!-- Images -->


<!--style type="text/css">
#Layer1 {
 background:url("static/img/1.png");
 width:450px;
 height:400px;
</style>
								
<div id="Layer1" style="padding-top:80px; text-align:center; font-size:24px;">Jeapedu</div-->

									

									<img src="static/img/1.png" class="img-responsive" alt="" />
									<img src="static/img/2.png" class="img-responsive" alt="" />
									<img src="static/img/3.png" class="img-responsive" alt="" />
									<img src="static/img/4.png" class="img-responsive" alt="" />
									<img src="static/img/5.png" class="img-responsive" alt="" />


								</div>
							</div>
						</div>
						<!-- Offset for column gap -->
						<div class="col-md-4 col-sm-6 col-md-offset-4">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Box Outer Layer [ Box 6 ] -->
									<div class="box box-md br-pink pull-up animated">
										<!-- Box Hover Effect -->
										<div class="box-hover box-hover-black">
											<!-- Hover Icon -->
<img style="width:200px; height:200px;" src="static/img/py.jpg" class="img-responsive box-team-img" alt="" />
											<span class="hover-icon">下载</span>
										</div>
										<!-- Box Link -->
										<a href="/">
											<!-- Box Link Content -->
											<div class="box-content navigation">
												<!-- Box Icon -->
												<i class="fa fa-book"></i>
												<!-- Box Title -->
												<span class="box-title">教材</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
								<!-- Box Outer Layer [ Box 7 ] -->
									<div class="box box-md br-orange pull-up animated">
										<!-- Box Hover Effect -->
										<div class="box-hover box-hover-black">
											<!-- Hover Icon -->
<img style="width:200px; height:200px;" src="static/img/st.jpg" class="img-responsive box-team-img" alt="" />
											<span class="hover-icon">下载</span>
										</div>
										<!-- Box Link -->
										<a href="/">
											<!-- Box Link Content -->
											<div class="box-content navigation">
												<!-- Box Icon -->
												<i class="fa fa-book"></i>
												<!-- Box Title -->
												<span class="box-title">入学测试题</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Box Third Row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="row">


<!-- Box Outer Layer [ Box 11 ] -->
							<div class="box box-lg br-orange animated">
								<div class="box-content box-service-counter box-default">
									<!-- Heading -->
									<h4><i class="fa fa-gears"></i> 课程浏览量</h4>
									<div class="row">
										<div class="col-md-6 col-sm-6 col-xs-6">
											<!-- Service Counter Item -->
											<div class="service-item">
												<!-- Counter Number -->
												<span class="s-counter" data-from="0" data-to="410" data-speed="2500" data-refresh-interval="100"></span>
												<!-- Heading -->
												<h3>{{ind.courses|safe}}</h3>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<!-- Service Counter Item -->
											<div class="service-item">
												<!-- Counter Number -->
												<span class="s-counter" data-from="0" data-to="362" data-speed="2500" data-refresh-interval="100"></span>
												<!-- Heading -->
												<h3>Django</h3>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<!-- Service Counter Item -->
											<div class="service-item">
												<!-- Counter Number -->
												<span class="s-counter" data-from="0" data-to="320" data-speed="2500" data-refresh-interval="100"></span>
												<!-- Heading -->
												<h3>CSS</h3>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-6">
											<!-- Service Counter Item -->
											<div class="service-item">
												<!-- Counter Number -->
												<span class="s-counter" data-from="0" data-to="190" data-speed="2500" data-refresh-interval="100"></span>
												<!-- Heading -->
												<h3>MySQL</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
									

							</div>
						</div>
						<div class="col-md-8 col-sm-6">
							<!-- Box Outer Layer [ Box 10 ] -->
							<div class="box box-md br-lblue animated">
								<!-- Box CTA Block -->
								<div class="box-content box-cta">
									<!-- Flat Icon -->
									<img src="static/img/flat-icon/fi1.png" class="img-responsive" alt="" />
									<!-- Box CTA Info -->
									<div class="box-cta-info">
										<h4>课前准备(Linux)</h4>
										<p class="col-disable">1.sudo apt-get install ipython</p>
										<p class="col-disable">2.sudo apt-get install python-setuptools(easy_install)</p>
										<p class="col-disable">3.sudo easy_install django</p>
										<p class="col-disable">4.sudo aptitude install mysql-server</p>
										<p class="col-disable">5.sudo aptitude install mysql-client</p>
										<!-- View Next Button -->
										<div class="view-button">
											
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>


<div class="col-md-4 col-sm-6">
							<!-- Box Outer Layer [ Box 14 ] -->
							<div class="box box-md br-red animated">
								<div class="box-content box-feature box-default">
									<!-- Heading -->
									<h4><i class="fa fa-rocket"></i>帮助</h4>
									<!-- Paragraph -->
									<p>{{ind.help|safe}}</p>
									<!-- View Next Button -->
									<div class="view-button">
										<a href="#" class="btn btn-info">点我咨询 <i class="fa fa-angle-right"></i></a>&nbsp;
										<a class="btn btn-default">Tel: 010-62231977</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<!-- Box Outer Layer [ Box 12 ] -->
									<div class="box box-md animated">
										<div class="box-content slide-up box-gallery padd-zero">
											<!-- Image -->
											<img src="static/img/4.png" class="img-responsive box-gallery-img" alt="" />>
											<!-- Image Gallery Caption -->
											<div class="image-gallery-caption movetoup box-hover-black">
												<!-- Image Title / Heading -->
												<a href="/taped" >何老师 -> Python</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<!-- Box Outer Layer [ Box 12 ] -->
									<div class="box box-md animated">
										<div class="box-content slide-up box-gallery padd-zero">
											<!-- Image -->
											<img src="static/img/2.png" class="img-responsive box-gallery-img" alt="" />
											<!-- Image Gallery Caption -->
											<div class="image-gallery-caption movetoup box-hover-black">
												<!-- Image Title / Heading -->
												<a href="/taped">廖老师 -> iOS</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- Box Fourth Row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							
						</div>
						
					</div>

				</div>
			
			<!-- Footer Start -->
		
{%endblock%}
