{% extends "base.html" %}
{% block content%}

		
			<div class="inner-page">
				<div class="container">
					<div class="page-mainbar column-index">
						<!-- Masonry Container -->
						<div id="container" class="grid">
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-yellow animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall01.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>{{ind.courses|safe}}</h2>
										<!-- Paragraph -->
										<p>{{tap.mov_remarks|safe}}</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-green animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall02.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>Uliweb</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-lblue animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall03.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>Django</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-orange animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall04.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>JS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-red animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall05.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>CSS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-yellow animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall06.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>iOS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-blue animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall07.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>MySQL</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-purple animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall08.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>REQUEST</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-green animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall09.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>NODEJS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-yellow animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall10.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>Django</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-purple animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall11.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>JS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-orange animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall12.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>MySQL</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-lblue animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall13.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>HTML</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-pink animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall14.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>Python</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<!-- Grid Item -->
							<div class="item">
								<!-- Entry for each grid -->
								<div class="grid-entry br-red animated">
									<!-- Grid Image Container -->
									<div class="grid-img">
										<!-- Image -->
										<img src="static/img/grid-wall/wall15.png" class="img-responsive" alt="" />
										<!-- Grid Image Hover Effect -->
										<span class="grid-img-hover"></span>
										<!-- Grid Image Hover Icon -->
										<a href="static/img/grid-wall/wall01.png" class="grid-img-link">
											<i style="font-size:15px;" class="fa fa-search-plus hover-icon icon-left">播放</i>
										</a>
										<a href="#">
											<i style="font-size:15px;" class="fa fa-link hover-icon icon-right">下载</i>
										</a>
									</div>
									<!-- Grid entry information -->
									<div class="entry-info">
										<!-- Heading -->
										<h2>CSS</h2>
										<!-- Paragraph -->
										<p>课程简介简介简介简介简介简介简介简介简介简介简介简介简介</p>
										<!-- Share Block -->
										<div class="share">
											<span>2385<a href="#" class="my-tooltip" title="" data-placement="right" data-original-title="Share"><i class="fa fa-share"></i></a></span>
											<span>61<i class="fa fa-star-half-o"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Inner Page Content // End -->
			
{%endblock%}
